Flask
flask-cors
python-dotenv
# AI & LangChain
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
sentence-transformers
# Vector DB
chromadb
pysqlite3-binary
# Database (Latest version automatic lega jo conflict nahi karega)
supabase
# ZYND
zyndai-agent
paho-mqtt
# Server
gunicorn
# IMP: NumPy ko fix rakhna zaruri hai
numpy==1.26.4